<div id="welcome">
Hi Micah! <span class="smaller">Check this out...</span>
</div>

<%= render :partial => "/refinery/news/items/main_page_news" %>  
<%#= render :partial => "/refinery/content_page" %>

<div id="toolbox">
  <div class="inner">
    
    <div class="tabgroup">
    
      <div class="exp" id="logos">
        <div class="ilogo"><%= link_to(image_tag("/images/logo_missionhub.png"), "") %></div>
        <div class="ilogo"><%= link_to(image_tag("/images/logo_staffweb.png"), "") %></div>
        <div class="ilogo"><%= link_to(image_tag("/images/logo_panorama.png"), "") %></div>
        <div class="ilogo"><%= link_to(image_tag("/images/logo_infobase.png"), "") %></div>
        <div class="ilogo"><%= link_to(image_tag("/images/logo_wiki.png"), "") %></div>
        <div class="ilogo"><%= link_to(image_tag("/images/logo_sp.png"), "") %></div>
        <div class="ilogo"><%= link_to(image_tag("/images/logo_concur.png"), "") %></div>
        <div class="ilogo"><%= link_to(image_tag("/images/logo_crupress.png"), "") %></div>      
      </div>
    
      <div class="exp" id="links" style="display: none;">
        <div class="alllinks">
          <div class="col50">
          <ul class="linkset">
            <li class="title">Links for Campus Ministry</li>
            <li class="link"><a href="/servlet/CmsController" target="_blank">Resource Center</a></li>
            <li class="link"><a href="http://lakehartstint.org" target="_blank">Lake Hart Stint</a></li>
            <li class="link"><a href="http://missionalteamleaders.com" target="_blank">Missional Team Leaders</a></li>
            <li class="link"><a href="http://crupressgreen.com" target="_blank">CruPress Green</a></li>
            <li class="link"><a href="http://crupress.campuscrusadeforchrist.com" target="_blank">CruPress</a></li>
            <li class="link"><a href="http://centerfield.campuscrusadeforchrist.com" target="_blank">Centerfield Productions</a></li>
            <li class="link"><a HREF="http://www.everystudentpromotion.com/" target="_blank">EveryStudentPromotion.com</a></li>
            <li class="link"><a href="http://campusprhelp.com" target="_blank">Campus PR Help</a></li>
            <li class="link"><a href="http://ibs.campuscrusadeforchrist.com/ibs/SeminaryPartnerships/index.html" target="_blank">Seminary Partnerships</a></li>
            <li class="link"><a href="http://ibs.campuscrusadeforchrist.com/ibs/GraduateStudy/index.html" target="_blank">Graduate Study Program</a></li>
            <li class="link"><a href="http://ibs.campuscrusadeforchrist.com" target="_blank">Institute of Biblical Studies</a></li>
            <li class="link"><a href="/leaving.jsp?url=https://www.ronblue.com/ccci/" target="_blank">Ronald Blue & Co - Access to your 403(b) Account</a></li>
          </ul>
			
          <ul class="linkset">
            <li class="title">Campus Ministry Web Sites</li>
            <li class="link"><a HREF="http://www.campuscrusadeforchrist.com" target="_blank">Campus Ministry Public Web site</a></li>
            <li class="link"><a HREF="http://www.godsquad.com/" target="_blank">GodSquad</a></li>
            <li class="link"><a HREF="http://www.everystudent.com/" target="_blank">EveryStudent.com</a></li>
            <li class="link"><a HREF="http://startingwithgod.com" target="_blank">StartingwithGod.com</a></li>
            <li class="link"><a HREF="http://www.impactmovement.com" target="_blank">Impact Movement</a></li>
            <li class="link"><a HREF="http://www.destinomovement.com" target="_blank">Destino Movement</a></li>
            <li class="link"><a HREF="http://www.mydestino.com" target="_blank">My Destino</a></li>
            <li class="link"><a HREF="http://www.epicmovement.com" target="_blank">Epic Movement</a></li>
            <li class="link"><a HREF="http://www.nationsmovement.com/" target="_blank">Nations Movement</a></li>
            <li class="link"><a HREF="http://www.greekmovement.com" target="_blank">Greek Movement</a></li>
            <li class="link"><a HREF="http://www.bridgesinternational.com" target="_blank">Bridges International</a></li>
            <li class="link"><a HREF="http://www.valormovement.com" target="_blank">Valor Movement</a></li>
            <li class="link"><a HREF="http://www.leaderu.com/" target="_blank">Faculty Commons Leadership University</a></li>
            <li class="link"><a href="http://studentventure.com/" target="_blank">Student Venture</a></li>
            <li class="link"><a href="http://gocampus.org/" target="_blank">Student Venture's Coaching Center</a></li>
            <li class="link"><a HREF="http://www.gradguides.org/" target="_blank">Grad Guides</a></li>
          </ul>
  			  </div>
			
  			  <div class="col50">
            <ul class="linkset">
              <li class="title">Regional Links</li>
              <li class="link"><a href="http://www.gnwcru.org" target="_blank">Greater Northwest Site</a></li>
              <li class="link"><a href="http://greatlakescru.com" target="_blank">Great Lakes Site</a></li>
              <li class="link"><a href="http://www.gpiregion.com" target="_blank">Great Plains Site</a></li>
              <li class="link"><a href="http://www.midsouthcru.com" target="_blank">MidSouth Site</a></li>
              <li class="link"><a HREF="http://www.ugoglobal.com" target="_blank">Ugoglobal.com (Midsouth WSN)</a></li>		
              <li class="link"><a href="http://www.libertyregion.com" target="_blank">Northeast Site</a></li>
              <li class="link"><a href="http://www.psw.org" target="_blank">Pacific Southwest Site</a></li>
              <li class="link"><a href="http://staff.r3cru.com" target="_blank">Red River Site</a></li>
              <li class="link"><a href="http://staff.campuscrusade.net" target="_blank">Southeast Staff Site</li>
              <li class="link"><a href="http://www.campuscrusade.net" target="_blank">Southeast Student Site</li>
              <li class="link"><a href="http://www.uppermidwest.org" target="_blank">Upper Midwest Site</a></li>
            </ul>

            <ul class="linkset">
              <li class="title">CCC Partnership Links</li>
              <li class="link"><a href="http://liveabove.com/" target="_blank">LiveAbove.com</a></li>
            </ul>
				
            <ul class="linkset">
              <li class="title">Campus Crusade for Christ International</li>
              <li class="link"><a href="http://www.ccci.org" target="_blank">Campus Crusade for Christ Intl. Site</a></li> 
              <li class="link"><a href="http://staff.ccci.org" target='_blank'>CCCI Staff Site</a></li>	
              <li class="link"><a href="http://www.ccci.org/ministries/united-states-ministries.html" target="_blank">Other US Ministries</a></li>
              <li class="link"><a href="http://www.usihr.org/" target="_blank">International Ministries</a></li>
              <li class="link"><a href="http://www.globalprayermovement.org" target="_blank">Global Prayer Movement</a></li>
              <li class="link"><a href="http://www.staffwomen.com" target="_blank">Staff Women Site</a></li>
              <li class="link"><a href="http://staff.campuscrusade.org/" target='_blank'>Bookstore</a></li>	
            </ul>
          </div>
        </div>
        <div class="clr"></div>
        
      </div>
      
      
      
      <div class="tabbers">
        <a href="" class="tab">Tools</a>
        <a href="" class="tab">Links</a>
      </div>
      
      
      
    </div>
    
    
    <a class="expandbtn" href="" style="display: none;"></a>
    
    <div class="exp" id="staffinfo">
      
      <table class="bottom">
        <Tr>
          <td>
      
            <h3>My Staff Account Balance</h3>
      
            <div class="bfield">
            <label>Current:</label>
            <span class="amount">$15,967.22</span>
            </div>
          </td>
          <td>
            
            <h3>Infobase</h3>
            <div class="fieldwrap">
              <input type="text" placeholder="Search..."/>
              <select>
                <option>Location</option>
              </select>
            </div>
            <br/><br/>
            <button>Enter Stats</button>
          </td>
        </tr>
      </table>
      
    </div>
    
    <script>
        $(".expandbtn").click(function () {
          $("#logos").slideToggle("slow");
          return false;
        });
    </script>
    
  </div>
</div>
