<article class="item_post news_item_truncated" id="<%= dom_id(item) %>">
  <header>
    <h2><%= link_to item.title, refinery.news_item_path(item) %></h2>
    <section class='details'>
      <p class="news_date">Published <%= l(item.publish_date, :format => :long) %>
    <% if item.source.present? %>
      <br />
          <small>by <%= item.source %></small>
        <% end %>
      </p>

    </section>
    </header>
    <%= render 'refinery/news/shared/big_image', item: item %>

  <section class='clearfix'>
    <% if news_item_teaser_enabled? %>
      <%= news_item_teaser(item) %>
    <% else %>
      <%= item.body.html_safe %>
    <% end %>
    <%= link_to "Read More", refinery.news_item_path(item) if news_item_teaser_enabled? %>
  </section>

</article>
