<% news_item = @items.first %>
<div id="page_interior">
  <div id="hero">
    <div class="image">
      <% if news_item.image %>
        <%= link_to(image_tag(news_item.image.url), refinery.news_item_path(news_item))  %>
      <% else %>
        <video id="<%= dom_id(news_item) %>_video" class="video-js vjs-default-skin" controls
          preload="auto" width="440" height="320" poster="<%= news_item.video_poster_frame %>"
          data-setup="{}">
          <source src="<%= news_item.video_url %>" type='video/mp4'>
        </video>
      <% end %>
    </div>
    <div class="story">
      <h2><%= news_item.title %></h2>
      <div class="meta">Published on <%= news_item.publish_date.to_date.to_formatted_s(:long) %></div>
      <div class="content">
        <%= truncate  Sanitize.clean(news_item.body), :length => 500,
                      :omission => "... <div class=rbreak>#{link_to 'Read More', refinery.news_item_path(news_item), :class => 'btn readmore'}</div>",
                      :preserve_html_tags => true %>
      </div>
    </div>
  </div>
  <div class="clr"></div>

  <div id="nothero">
    <% @items.each do |news_item| %>
      <% unless news_item == @items.first %>
        <article>
          <div class="image">
            <% if news_item.image %>
              <%= link_to(image_tag(news_item.image.url), refinery.news_item_path(news_item))  %>
            <% else %>
              <%= link_to(image_tag(news_item.video_poster_frame), refinery.news_item_path(news_item))  %>
            <% end %>
          </div>
          <div class="story">
            <header>
              <h3><%= news_item.title %></h3>
              <div class="meta">Published on <%= news_item.publish_date.to_date.to_formatted_s(:long) %></div>
            </header>
            <div class="content">
              <%= truncate  Sanitize.clean(news_item.body), :length => 130,
                            :omission => " ... ",
                            :preserve_html_tags => true %>
            </div>
            <div class="readmore">
              <%= link_to 'Read More', refinery.news_item_path(news_item) %>
            </div>
          </div>
        </article>
      <% end %>
    <% end %>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
</div>
