<div id="welcome">
  Stories<span class="smaller">&nbsp;</span>
</div>
<div id="page_interior">
  <% content_for :body do %>
    <%=raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) unless params[:page] %>

    <%= render :partial => "/refinery/news/shared/item", :collection => @items %>

    <%= will_paginate @items %>

<% end -%>

<% content_for :body_content_right_prepend do -%>
  <%= raw @page.content_for(::Refinery::Pages.default_parts.second.to_sym) %>
  <% end if ::Refinery::Pages.default_parts.many? -%>
  <%= render :partial => '/refinery/news/shared/body_content_right' %>

  <%= render :partial => "/refinery/content_page" %>
</div>
