<!DOCTYPE html>
<%= render :partial => '/refinery/html_tag' %>
  <% site_bar = render(:partial => '/refinery/site_bar', :locals => {:head => true}) -%>
  <%= render :partial => '/refinery/head' %>
  <body class="<%= controller.controller_name %> <%= controller.action_name %>" class="<%= controller.controller_name %>_<%= controller.action_name %>">
    <%= site_bar -%>
    <%= render :partial => '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
      <header id="header">
        <%= render :partial => '/refinery/header' -%>
      </header>
      <section id="page">
        <%= yield %>
      </section>
      <footer>
        <%= render :partial => '/refinery/footer' -%>
      </footer>
    </div>
    <%= render :partial => '/refinery/javascripts' %>
  </body>
</html>
